
.col-blue {
    color: #3A8BFF;
}
.lg-title {
	color: #181E33;
	font-size: 20px;
	margin-bottom: 44px;
}

.margin-btm24 {
    margin-bottom: 24px;
}
.margin-tm14
{
	margin-top: 14px;
}
.pd-lr-24 {
	padding: 0 24px;
}

.fs14 {
    font-size: 14px;
}

.fl {
    float: left;
}.fr {
    float: right;
}
.fr {
    float: right;
}
#login-box {
	width: 360px;
	height: 400px;
	position: absolute;
	right: 10%;
	top: 20%;
	padding: 20px 50px;
	overflow: hidden;

	background: white;
	text-align: center;
	box-shadow: 0 0 20px 0 rgb(175 187 204 / 45%);

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
}

#login-box h1 {
	color: black;
}
#login-box .form {

}
#login-box .form .item {
	margin-top: 20px;
}

#login-box .form .item i {
	font-size: 18px;
	color: lightgrey;
}

#login-box .form .item input {
	width: 180px;
	font-size: 14px;
	border: 0;
	/* border-bottom: 2px solid grey; */
	padding: 12px 10px;

	background: whitesmoke;
	color: #fff;
}

#login-box button {
	margin-top: 24px;
	width: 220px;
	height: 40px;
	
	font-size: 20px;
	font-weight: 700;
	color: #fff;
	background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
	border: 0;
	border-radius: 10px;
}

#logo{
	width: 600px;
	height: 400px;
	position: absolute;
	left: 8%;
	top: 25%;
	background:url(../img/logo.png);
	background-repeat:no-repeat;
	background-size:100% auto;
}

#textShow{
	width: 288px;
	height: 600px;
	float: left;
	border: 1px solid black;
}
.box1{
	height: 100px;
	border: 1px solid black;
	margin: 12px 0;
}